@import "fonts.scss";
@import "vars.scss";

.apartment-museum__img-flat{
    float: left;
    padding-right: 3.4rem;
}

.apartment-museum__registration-button{
    display: flex;
    padding: 2rem 9rem;
    justify-content: center;
    font-size: 2rem;
    font-weight: 400;
}

.apartment-museum__title__map{
    padding-top: 6.5rem;
    padding-bottom: 2.5rem;
}

.apartment-museum__contacts{
    padding-top: 6.5rem;
    padding-bottom: 2.5rem;
}

.apartment-museum__contacts__blocks{
    display: flex;
    flex-direction: row;
    &contacts__blocks__Larisa{
    align-items: flex-start;
    border-radius: 5px;
    background: rgba(0, 52, 119, 0.05);
   }
}