@import "fonts.scss";

$gold: #DF9F4F; // ярко-золотой
$primary: #BB8D54; // бледно-золотой для заголовков
$secondary: #0E2441; // темно-синий
$pr-dark: #98672B; // primary-dark - темное золото для основного текста

$gold-gr: linear-gradient(97deg, #F1B33C 0%, #F1A13C 100%); // золотой градиент
