@font-face {
  font-family: "Styrene";
  font-style: normal;
  font-weight: 100;
  src: local("Styrene"), url("../font/StyreneAWeb-Thin.woff") format("woff"), url("../font/StyreneAWeb-Thin.ttf") format("ttf"), url("../font/StyreneAWeb-Thin.eot") format("eot");
}
@font-face {
  font-family: "Styrene";
  font-style: normal;
  font-weight: 200;
  src: local("Styrene"), url("../font/StyreneAWeb-Light.woff") format("woff"), url("../font/StyreneAWeb-Light.ttf") format("ttf"), url("../font/StyreneAWeb-Light.eot") format("eot");
}
@font-face {
  font-family: "Styrene";
  font-style: 400;
  font-weight: regular;
  src: local("Styrene"), url("../font/StyreneAWeb-Regular.woff") format("woff"), url("../font/StyreneAWeb-Regular.ttf") format("ttf"), url("../font/StyreneAWeb-Regular.eot") format("eot");
}
@font-face {
  font-family: "Styrene";
  font-style: normal;
  font-weight: 500;
  src: local("Styrene"), url("../font/StyreneAWeb-Medium.woff") format("woff"), url("../font/StyreneAWeb-Medium.ttf") format("ttf"), url("../font/StyreneAWeb-Medium.eot") format("eot");
}
@font-face {
  font-family: "Styrene";
  font-style: normal;
  font-weight: 700;
  src: local("Styrene"), url("../font/StyreneAWeb-Bold.woff") format("woff"), url("../font/StyreneAWeb-Bold.ttf") format("ttf"), url("../font/StyreneAWeb-Bold.eot") format("eot");
}
@font-face {
  font-family: "Styrene";
  font-style: normal;
  font-weight: 900;
  src: local("Styrene"), url("../font/StyreneAWeb-Black.woff") format("woff"), url("../font/StyreneAWeb-Black.ttf") format("ttf"), url("../font/StyreneAWeb-Black.eot") format("eot");
}
.apartment-museum__img-flat {
  float: left;
  padding-right: 3.4rem;
}

.apartment-museum__registration-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem 9rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2rem;
  font-weight: 400;
}

.apartment-museum__title-map {
  padding-top: 6.5rem;
  padding-bottom: 2.5rem;
}

.apartment-museum__contacts {
  padding-top: 6.5rem;
  padding-bottom: 2.5rem;
}

.apartment-museum__contacts-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.apartment-museum__contacts-blocks-Larisa {
  padding: 2rem 3rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  width: 74.5rem;
  border-radius: 5px;
  background: rgba(0, 52, 119, 0.05);
}
.apartment-museum__contacts-blocks-time {
  padding: 2rem 3rem;
  margin-bottom: 1rem;
  width: 74.5rem;
  border-radius: 5px;
  background: rgba(0, 52, 119, 0.05);
}
.apartment-museum__contacts-blocks-num {
  padding: 2rem 3rem;
  margin-right: 1rem;
  width: 74.5rem;
  border-radius: 5px;
  background: rgba(0, 52, 119, 0.05);
}
.apartment-museum__contacts-blocks-mail {
  padding: 2rem 3rem;
  width: 74.5rem;
  border-radius: 5px;
  background: rgba(0, 52, 119, 0.05);
}