@font-face {
  font-family: "Styrene";
  font-style: normal;
  font-weight: 100;
  src: local("Styrene"), url("../font/StyreneAWeb-Thin.woff") format("woff"), url("../font/StyreneAWeb-Thin.ttf") format("ttf"), url("../font/StyreneAWeb-Thin.eot") format("eot");
}
@font-face {
  font-family: "Styrene";
  font-style: normal;
  font-weight: 200;
  src: local("Styrene"), url("../font/StyreneAWeb-Light.woff") format("woff"), url("../font/StyreneAWeb-Light.ttf") format("ttf"), url("../font/StyreneAWeb-Light.eot") format("eot");
}
@font-face {
  font-family: "Styrene";
  font-style: 400;
  font-weight: regular;
  src: local("Styrene"), url("../font/StyreneAWeb-Regular.woff") format("woff"), url("../font/StyreneAWeb-Regular.ttf") format("ttf"), url("../font/StyreneAWeb-Regular.eot") format("eot");
}
@font-face {
  font-family: "Styrene";
  font-style: normal;
  font-weight: 500;
  src: local("Styrene"), url("../font/StyreneAWeb-Medium.woff") format("woff"), url("../font/StyreneAWeb-Medium.ttf") format("ttf"), url("../font/StyreneAWeb-Medium.eot") format("eot");
}
@font-face {
  font-family: "Styrene";
  font-style: normal;
  font-weight: 700;
  src: local("Styrene"), url("../font/StyreneAWeb-Bold.woff") format("woff"), url("../font/StyreneAWeb-Bold.ttf") format("ttf"), url("../font/StyreneAWeb-Bold.eot") format("eot");
}
@font-face {
  font-family: "Styrene";
  font-style: normal;
  font-weight: 900;
  src: local("Styrene"), url("../font/StyreneAWeb-Black.woff") format("woff"), url("../font/StyreneAWeb-Black.ttf") format("ttf"), url("../font/StyreneAWeb-Black.eot") format("eot");
}
/* padding for container block */
@font-face {
  font-family: "Styrene";
  font-style: normal;
  font-weight: 100;
  src: local("Styrene"), url("../font/StyreneAWeb-Thin.woff") format("woff"), url("../font/StyreneAWeb-Thin.ttf") format("ttf"), url("../font/StyreneAWeb-Thin.eot") format("eot");
}
@font-face {
  font-family: "Styrene";
  font-style: normal;
  font-weight: 200;
  src: local("Styrene"), url("../font/StyreneAWeb-Light.woff") format("woff"), url("../font/StyreneAWeb-Light.ttf") format("ttf"), url("../font/StyreneAWeb-Light.eot") format("eot");
}
@font-face {
  font-family: "Styrene";
  font-style: 400;
  font-weight: regular;
  src: local("Styrene"), url("../font/StyreneAWeb-Regular.woff") format("woff"), url("../font/StyreneAWeb-Regular.ttf") format("ttf"), url("../font/StyreneAWeb-Regular.eot") format("eot");
}
@font-face {
  font-family: "Styrene";
  font-style: normal;
  font-weight: 500;
  src: local("Styrene"), url("../font/StyreneAWeb-Medium.woff") format("woff"), url("../font/StyreneAWeb-Medium.ttf") format("ttf"), url("../font/StyreneAWeb-Medium.eot") format("eot");
}
@font-face {
  font-family: "Styrene";
  font-style: normal;
  font-weight: 700;
  src: local("Styrene"), url("../font/StyreneAWeb-Bold.woff") format("woff"), url("../font/StyreneAWeb-Bold.ttf") format("ttf"), url("../font/StyreneAWeb-Bold.eot") format("eot");
}
@font-face {
  font-family: "Styrene";
  font-style: normal;
  font-weight: 900;
  src: local("Styrene"), url("../font/StyreneAWeb-Black.woff") format("woff"), url("../font/StyreneAWeb-Black.ttf") format("ttf"), url("../font/StyreneAWeb-Black.eot") format("eot");
}
/* padding for container block */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family: Lora, serif;
}

html {
  font-size: 10px;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: #efe3ff;
}

body::-webkit-scrollbar-thumb {
  background-color: #DF9F4F;
  width: 4px;
  border: 2px solid #efe3ff;
}

.title {
  font-family: Styrene, sans-serif;
  font-size: 4rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #0E2441;
  margin-bottom: 4rem;
}
.title > span {
  font-family: inherit;
}

.minititle {
  font-family: Styrene, sans-serif;
  font-size: 3.2rem;
  font-weight: 500;
  color: #0E2441;
  margin-bottom: 2.5rem;
}
.minititle > span {
  font-family: inherit;
}

.text {
  font-family: Lora, serif;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 140%;
  color: #0E2441;
  margin-bottom: 1.5rem;
}
.text > span {
  font-family: inherit;
}

.pr {
  color: #BB8D54;
}

.pr-dark {
  color: #98672B;
}

.pr-btn {
  padding: 3rem 9rem;
  border-radius: 5px;
  background: linear-gradient(97deg, #F1B33C 0%, #F1A13C 100%);
  color: #fff;
}

.btn {
  padding: 2rem 4rem;
  border-radius: 5px;
  border: 1px solid #0E2441;
  color: #0E2441;
}

.img {
  border-radius: 5px;
}

.ref {
  color: #BB8D54;
  text-decoration: underline;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0px 5rem;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  height: 90px;
  width: 100%;
  padding: 10px 0px;
  background: #fff;
  border-bottom: 1px solid #DBDEE2;
  border-radius: 0px 0px 10px 10px;
}
.header__inner {
  height: 100%;
}
.header__img {
  height: 100%;
}

.main {
  margin-top: calc(90px + 8rem);
  margin-bottom: 8rem;
  min-height: calc(100vh - 16rem - 90px - 70px);
}

.footer {
  height: 70px;
  width: 100%;
  padding: 10px 0px;
  background: #fff;
  border-top: 1px solid #DBDEE2;
  border-radius: 0px 0px 10px 10px;
}
.footer__inner {
  height: 100%;
}
.footer__img {
  height: 100%;
}

.main-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.gold-text {
  color: #DF9F4F;
}

.pr-gold-text {
  color: #98672B;
}

.text-block {
  padding-top: 40px;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.text-block__sponsors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px 27px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  font-size: 2rem;
  color: #98672B;
  font-style: normal;
  font-weight: 400;
  line-height: 159.99%;
  border-radius: 33px;
  border: 1px solid rgba(152, 103, 43, 0.38);
  text-transform: none;
  margin-bottom: 2rem;
}
.text-block__title {
  font-size: 6.4rem;
  width: 1004px;
  height: 180px;
  margin-bottom: 4.5rem;
}
.text-block__text {
  width: 860px;
  font-size: 2.6rem;
  color: #0E2441;
  font-style: normal;
  font-weight: 400;
  font-family: Lora;
  font-style: normal;
  line-height: 171.99%;
  margin-bottom: 4.5rem;
}
.text-block__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 12rem;
}
.text-block__buttons__button {
  font-size: 2rem;
  font-family: Styrene, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3rem 9rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 10px;
  border-radius: 5px;
}
.text-block__buttons__history {
  background: linear-gradient(97deg, #F1B33C 0%, #F1A13C 100%);
  color: white;
  margin-right: 35px;
}
.text-block__buttons__museum {
  border: 1px solid #0E2441;
  color: #0E2441;
}

.image-block__image {
  position: absolute;
  top: -2.6rem;
  right: -6.6rem;
  z-index: 0;
}

.links-section {
  margin-bottom: 8rem;
  padding: 8rem 0 0 0;
}

.links-block__text {
  color: #343434;
  font-family: Styrene A LC;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  margin-bottom: 2.5rem;
}
.links-block__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.links-block__links > .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 27px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  border-radius: 5px;
  background: #F9F6F1;
  margin-bottom: 1rem;
  color: #98672B;
  font-family: Lora;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 171.99%;
}
.links-block__links:last-child {
  margin-bottom: 0;
}

.fa-link {
  font-family: FontAwesome;
  margin-right: 0.5rem;
}

.main-text-block__title {
  font-size: 4rem;
}

.image-container {
  position: relative;
  height: 286px;
}

.image-right {
  float: right;
  margin-left: 2rem;
}

.image-left {
  float: left;
  margin-right: 2rem;
}

.main-picture {
  display: inline;
  height: 286px;
}

.photo-description {
  position: absolute;
  bottom: 0;
  padding: 0.7rem 2rem;
  border-radius: 0 0 5px 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: rgba(0, 0, 0, 0.67);
  color: white;
  font-family: Styrene, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 141.4%;
  font-size: 1.6rem;
  width: 100%;
}

.wrapper-text {
  color: #0E2441;
  font-family: Lora;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 141.4%;
  text-align: justify;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

.section {
  padding: 8rem 0 0 0;
}