@import "fonts.scss"; // шрифт Styrene
@import "sizes.scss";
@import "vars.scss";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: Lora, serif;
}

html { font-size: 10px; } // для работы rem

body {
    overflow-x: hidden;
}

//скроллбар
body::-webkit-scrollbar { width: 8px; }
body::-webkit-scrollbar-track { background: #efe3ff; }
body::-webkit-scrollbar-thumb {
    background-color: $gold;
    width: 4px;
    border: 2px solid #efe3ff;
}

img {
    border-radius: 5px;
}


.title {
    font-family: Styrene, sans-serif;
    font-size: 3.5rem;
    font-weight: 500;
    text-transform: uppercase;
    color: $secondary;
    margin-bottom: 4rem;
    
    > span {
        font-family: inherit;
    }
}

.minititle {
    font-family: Styrene, sans-serif;
    font-size: 3.2rem;
    font-weight: 500;
    color: $secondary;
    margin-bottom: 2.5rem;
    
    > span {
        font-family: inherit;
    }
}

.text {
    font-family: Lora, serif;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 160%;
    color: $secondary;
    margin-bottom: 1.5rem;
    text-align: justify;
    
    > span {
        font-family: inherit;
    }
}

.pr { color: $primary; }

.pr-dark { color: $pr-dark; }

.pr-btn {
    display: block;
    padding: 3rem 6rem;
    border-radius: 5px;
    background: $gold-gr;
    color: #fff;
    font-family: Styrene, sans-serif;
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
}

.btn {
    display: block;
    padding: 3rem 6rem;
    border-radius: 5px;
    border: 1px solid $secondary;
    color: $secondary;
    font-size: 2rem;
    font-family: Styrene, sans-serif;
    font-weight: 400;
    text-align: center;
}

.img { border-radius: 5px; }

.ref { // внешние ссылки
    color: $primary;
    text-decoration: underline;
    
}

.container {
    max-width: 1660px;
    margin: 0 auto;
    padding: 0px $padding;
}

.header {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    height: $header-height;
    width: 100%;
    padding: 10px 0px;
    background: #fff;
    border-bottom: 1px solid #DBDEE2;
    border-radius: 0px 0px 10px 10px;
    
    &__inner {
        height: 100%;
    }
    
    &__img {
        height: 100%;
    }
}

.main {
    margin-top: calc($header-height + 8rem);
    margin-bottom: 8rem;
    min-height: calc(100vh - 16rem - $header-height - $footer-height);
}

.section {
    padding: 15rem 0 0 0;
}

.minisection {
    padding: 8rem 0 0 0!important;
}

.footer {
    height: $footer-height;
    width: 100%;
    padding: 10px 0px;
    background: #fff;
    border-top: 1px solid #DBDEE2;
    border-radius: 0px 0px 10px 10px;
    
    &__inner {
        height: 100%;
    }
    
    &__img {
        height: 100%;
    }
}

@media (max-width: 1400px) {
    html {
        font-size: 9px;
    }
}

@media (max-width: 1024px) {
    html {
        font-size: 8px;
    }
}

@media (max-width: 768px) {    
    html {
        font-size: 7px;
    }
    
    .image-container {
        max-width: none !important;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
    
    .header {
        height: $header-mobile-height;
    }
    
    .main {
        margin-top: calc($header-mobile-height + 6rem);
        margin-bottom: 8rem;
        min-height: calc(100vh - 14rem - $header-mobile-height - $footer-mobile-height);
    }
    
    .footer {
        height: $footer-mobile-height;
    }
}

@media (max-width: 480px) {
    html {
        font-size: 6px;
    }
}



