@import "fonts.scss"; // шрифт Styrene
@import "sizes.scss";
@import "vars.scss";
@import "main.scss";

.form {

		// .form__section

		&__section {
            margin-bottom: 2.2rem;
            // background-color: red;
		}

        &__section:nth-child(4) {
            margin-bottom: 5rem;
        }

		// .form__section-fields

		&__section-fields {
            display: flex;
            justify-content: space-between;
		}

        // .form__input1
        &__input {
            position: relative;
            display: flex;
            align-items: center;
            font-family: Styrene, sans-serif;
            font-size: 2rem;
            font-weight: 400;
            color: rgba(14, 36, 65, 0.80);
            padding: 3rem 2.5rem;
            border: none;
            border-radius: 5px;
            background: rgba(0, 52, 119, 0.05);
            outline: none;

            &_1{
                width: 100%;
            }

            &_2{
                height: 8.8rem;
                width: 49.5%;
            }
        }

        &__input:focus{
            outline: none;
            box-shadow: 0 0 0.4rem 0.4rem rgba(0, 52, 119, 0.233)
        }

        // .form__button
        &__button{
            width: 100%;
            border: none;
        }
}

.form-text {
    font-family: Styrene, sans-serif;
    color: $secondary;
    font-size: 2rem;
    font-weight: 400;
    line-height: 141%;
    margin-bottom: 1.5rem;
}

.date {
    font-family: Styrene, sans-serif;
    font-size: 2rem;
    font-weight: 400;
    color: rgba(14, 36, 65, 0.80);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: none;
    border-radius: 5px;
    background: rgba(0, 52, 119, 0);
    padding: 3.5rem 3rem;
    padding-left: 0;
    outline: none;
    cursor: pointer;
}

.date:focus{
            outline: none;
            box-shadow: 0 0 0.4rem 0.4rem rgba(0, 52, 119, 0.233);
}

.calendar {
    position: absolute;
}

.caret {
    position: absolute;
    // background-color: red;
    width: 2rem;
    height: 2rem;
    transform: rotate(180deg);
    top: 38%;
    margin-left: 2rem;
}

.caret--open {
    transform: none;
}

.dropdown {
    width: 49.5%;
    position: relative;
    background: rgba(0, 52, 119, 0.05);
    border-radius: 5px;

        // .dropdown_button

        &__button {
            font-family: Styrene, sans-serif;
            font-size: 2rem;
            font-weight: 400;
            color: rgba(14, 36, 65, 0.80);
            position: relative;
            width: 100%;
            height: 100%;
            border: none;
            border-radius: 5px;
            background: rgba(0, 52, 119, 0);
            appearance: none;
            -moz-appearance: none;
            -webkit-appearance: none;
            outline: none;
            padding-left: 6rem;
            cursor: pointer;
            display: flex;
            align-items: center;
        }

        &__button:focus{
            outline: none;
            box-shadow: 0 0 0.4rem 0.4rem rgba(0, 52, 119, 0.233);
        }

         &__button--active{
            outline: none;
            box-shadow: 0 0 0.4rem 0.4rem rgba(0, 52, 119, 0.233);
        }

		// .dropdown_list

		&__list {
            margin: 0;
            padding: 0;
            list-style-type: none;
            background-color: #fff;
            box-shadow: 0 0.4rem 0.8rem rgba(0, 52, 119, 0.356);
            overflow: hidden;
            border-radius: 0.6rem;
            width: 100%;
            position: absolute;
            left: 0;
            top: 8.8rem;
            z-index: 1;
            display: none;
            overflow-y: scroll;
            height: 35.2rem;
            border: 1px solid $secondary;
		}

        &__list::-webkit-scrollbar { width: 5px; }
        &__list::-webkit-scrollbar-track {
            background: #efe3ff; 
            border-radius: 5px;
        }
        &__list::-webkit-scrollbar-thumb {
            background-color: $gold;
            width: 2px;
            border-radius: 5px;
        }

        &__list--visible {
            display: block;
        }

		// .dropdown_list-item

		&__list-item {
            font-family: Styrene, sans-serif;
            font-size: 2rem;
            font-weight: 400;
            color: rgba(14, 36, 65, 0.80);
            margin: 0;
            padding: 0;
            border-top: 1px solid $secondary;
            border-bottom: 0;
            padding: 1.3rem 2rem;
            padding-left: 6rem;
            cursor: pointer;
		}

        &__list-item:first-child{
            border-top: 0;
            border-radius: 5px 5px 0 0;
        }

         &__list-item:last-child{
            border-radius:0 0 5px 5px;
        }

        &__list-item:hover {
            background: rgba(0, 52, 119, 0.05);
        }

        // .dropdown__input-hidden

        &__input-hidden{
            display: none;
        }
}


::-webkit-calendar-picker-indicator{
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    left: 10px;
    opacity: 0;
}

::-webkit-datetime-edit-fields-wrapper{
    margin-left: 6rem;
}

::-webkit-datetime-edit-text {
    padding: 0 0.3rem;
}

#textarea{
    padding: 3rem 2.5rem;
    height: 8.8rem;
    overflow-y: scroll;
}

#textarea::-webkit-scrollbar { width: 5px; }
#textarea::-webkit-scrollbar-track {
    background: #efe3ff; 
    border-radius: 5px;
}
#textarea::-webkit-scrollbar-thumb {
    background-color: $gold;
    width: 2px;
    border-radius: 5px;
}

@media (max-width: 640px) {
    .form {

		// .form__section-fields

		&__section-fields {
            display: flex;
            flex-direction: column;
		}

        // .form__input1
        &__input {
            font-size: 1.5rem;

            &_1{
                width: 100%;
            }

            &_2{
                height: 8.8rem;
                width: 100%;
                &:first-child{
                    margin-bottom: 2rem;
                }
            }
        }

        // .form__button
        &__button{
            width: 100%;
            border: none;
        }
    }

    .dropdown {
        width: 100%;
        height: 8.8rem;
        // background-color: red;
    }

    .date {
        font-size: 1.5rem;
    }

    #textarea{
        height: 20rem;
    }

    .dropdown {

        // .dropdown_button

        &__button {
            font-size: 1.5rem;
        }
    }
}

@media (max-width: 400px) {
    .title{
        font-size: 3rem;
    }

    .form-text{
        font-size: 1.5rem;
    }

    .pr-btn {
        padding: 3rem 3rem;
    }
}