<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Сайт Попова — {% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="Музей А. С. Попова">
    <meta property="og:site_name" content="Музей-квартира А. С. Попова">
    <meta property="og:url" content="https://popov-museum.ru">
    <meta property="og:description" content="Первоисточник информации о музее Александра Степановича Попова в СПбГЭТУ ЛЭТИ.">

    <link rel="icon" href="{{ url_for('index') }}static/img/icon.png">
    <link rel="stylesheet" href="{{ url_for('index') }}static/css/main.css"> <!-- общие стили -->
    {% block style %}{% endblock style %}
    <script src="https://kit.fontawesome.com/0ad5947fc3.js" crossorigin="anonymous"></script>
    <script src="{{ url_for('index') }}static/js/main.js"></script>
</head>

<body>
    
    <header class="header">
       <div class="header__inner container">
           <img src="{{url_for('index')}}static/img/popov-logo.png" alt="" class="header__img">
           
           <ul class="navbar">
               <li class="navbar__item"><a href="">Биография</a></li>
               <li class="navbar__item"><a href="">Музей&nbsp;в&nbsp;ЛЭТИ</a></li>
               <li class="navbar__item"><a href="">Лаборатория&nbsp;в&nbsp;ЛЭТИ</a></li>
               <li class="navbar__item"><a href="">Галерея</a></li>
           </ul>
           
           <a onclick="toggleNavbar()" href="#" class="header__mobile-burger"><i class="fa-solid fa-bars"></i></a>
           
           <div class="mini-btns">
               <a href="" class="mini-btns__item">
                   <i class="fa-solid fa-pen-to-square"></i>
               </a>
               <a href="" class="mini-btns__item">
                   <i class="fa-solid fa-language"></i>
               </a>
           </div>
       </div>
    </header>
    
    <div class="mobile-navbar">
        <ul class="mobile-navbar__wrapper">
            <li class="mobile-navbar__item"><a href="">Биография</a></li>
            <li class="mobile-navbar__item"><a href="">Музей&nbsp;в&nbsp;ЛЭТИ</a></li>
            <li class="mobile-navbar__item"><a href="">Лаборатория&nbsp;в&nbsp;ЛЭТИ</a></li>
            <li class="mobile-navbar__item"><a href="">Галерея</a></li>
        </ul>
        
        <div class="mobile-navbar__mini-btns">
           <a href="">
               <i class="fa-solid fa-pen-to-square"></i>
           </a>
           <a href="">
               <i class="fa-solid fa-language"></i>
           </a>
       </div>
    </div>
    
    <main class="main">
       <div class="container">
           {% block content %}{% endblock %}
       </div>
    </main>
    
    
    <footer class="footer">
        <div class="footer__inner container">
         
         <div class="footer__text">
             <p>Проект подготовлен Студенческим офисом карьеры и трудоустройства (СОКТ) Профкома студентов и аспирантов СПбГЭТУ ЛЭТИ совместно с кафедрой истории культуры, государства и права.</p>
             <p>Информация взята с открытых источников. Все права защищены. Сайт «Музей Попова» 2023-2024.</p>
         </div>
         
         <div class="footer__logo-wrapper">
            <img class="footer__logo" src="{{url_for('index')}}static/img/popov-logo.png" alt="" class="footer__img">
            <img class="footer__logo" src="{{url_for('index')}}static/img/etu-logo.svg" alt="" class="footer__img">
            <img class="footer__logo" src="{{url_for('index')}}static/img/profcom-logo.png" alt="" class="footer__img">
            <img class="footer__logo" src="{{url_for('index')}}static/img/sokt-logo.png" alt="" class="footer__img">
          </div>
         
         <div class="footer__text-links">
             <a href="">Кафедра истории культуры, государства и права СПбГЭТУ ЛЭТИ</a>
             <a href="">Официальный сайт СПбГЭТУ ЛЭТИ</a>
         </div>
         
         <div class="footer__btn-links">
             <a class="footer__profcom-link" href=""><img src="{{url_for('index')}}static/img/profcom-mini-logo.png" alt="">Профком ВКонтакте</a>
             <a class="footer__sokt-link" href=""><img src="{{url_for('index')}}static/img/sokt-logo.png" alt="">СОКТ ВКонтакте</a>
         </div>

       </div>
    </footer>

</body>
</html>
