{% extends "base.html" %}


{% block title %}Квартира в ЛЭТИ{% endblock title %}


{% block style %}
    <!-- Подключаем стили: your_file нужно изменить -->
    <link rel="stylesheet" href="{{url_for('index')}}static/css/apartment_museum-styles.css">
{% endblock style %}


{% block content %}

<!-- Контент страницы без <body> -->
    <h2 class="title apartment-museum__title">Музей-квартира <span class="pr">А. С. Попова</span> в ЛЭТИ</h2>
    <div class="apartment-museum__img-and-text-1">
    <div class="apartment-museum__img-flat"><img src="{{url_for('index')}}static/img/flat.jpg" alt="" ></div>
    <div class="text apartment-museum__text-1">Мемориальный музей-квартира А.С. Попова находится <span class="text-color">в жилом 
        доме Электротехнического института</span>, построенном одновременно с учебным корпусом. В этом доме жили многие крупные ученые-профессора ЭТИ.<br><br>
        В музее-квартире несомненный интерес представляет <span class="text-color">бытовая коллекция</span>, в которую входит обстановка домашнего кабинета ученого, гостиной, столовой и спальной комнаты. Часть демонстрируемых предметов была передана в музей <span class="text-color">членами семьи Поповых, часть – подарена музею семьями их коллег и друзей.</span>
        <br>
        <br>
        Украшением собрания являются живописные работы сестры А.С. Попова, выпускницы Академии художеств А.С. Поповой-Капустиной (1863-1941), сына ученого Александра (1887-1942), архитектора, также закончившего Академию
    </div>
    </div>
    <div class="text apartment-museum__text-2">
        художеств, картины и скульптуры других художников, подаренные музею. В виде отдельной коллекции хранятся <span class="text-color">музыкальные 
        произведения старшего сына ученого Степана</span> (1884-1920) - выпускника Петербургской консерватории. В музейном собрании представлен <span class="text-color">набор медицинских принадлежностей жены ученого Раисы Алексеевны</span> (1860-1932), 
        одной из первых женщин-врачей России, и их старшей дочери Раисы (1891-1976), также врача.
    </div>
    <div class="text apartment-museum__text-3">
        В музее-квартире ученого систематически проходят <span class="text-color">научные заседания, посвященные важнейшим историческим датам,</span> связанным с историей развития наших научных дисциплин, 
        с юбилеями выдающихся ученых. Традиционно эти заседания завершаются выступлениями артистов, деятелей культуры.
        <br>
        <br>
        При музее работает <span class="text-color">коллективная коротковолновая радиолюбительская станция.</span> Позывные RK1B слышны далеко за пределами нашей страны. Более 15000 полученных со всего мира QSL-карточек свидетельствуют 
        об ее интенсивной работе. В музее собираются материалы по <span class="text-color">истории радиолюбительства в России.</span>
        <br>
        <br>
        <span class="text-color">В День радио 7 мая</span> ежегодно музеем совместно с НТОРЭС им. <span class="text-color">А.С. Попова</span> организуется общегородской митинг у памятника А.С. Попову на Каменноостровском проспекте. В день памяти изобретателя радио 13 января возлагаются цветы у памятника на могиле А.С. Попова на Литераторских мостках Волковского кладбища.
    </div>
{% endblock %}