{% extends "base-templates/base.html" %}


{% block title %}Главная страница{% endblock title %}


{% block style %}
<!-- Подключаем стили: your_file нужно изменить -->
<link rel="stylesheet" href="{{url_for('index')}}static/css/index-style.css">
<link rel="stylesheet" href="{{url_for('index')}}static/css/animations.css">
{% endblock style %}


{% block content %}

<section class="main-section">

    <div class="text-block">

        <div class="text-block__sponsors">При поддержке кафедры истории ЛЭТИ</div>

        <div class="text-block__title title">История <span class="gold-text">великого физика</span> —
            А.&nbspС.&nbspПопова</div>

        <div class="text-block__text text">Я — русский человек и все свои знания, весь свой труд, все свои
            достижения имею
            право отдавать только моей Родине. &lt...&gt Как счастлив я, что не за рубежом, а в России открыто новое
            средство связи.</div>

        <div class="text-block__buttons">
            <a class="text-block__button text-block__history pr-btn" href="#">История</a>
            <a class="text-block__button text-block__museum btn" href="#">Музей «Квартира
                А.&nbspС.&nbspПопова» → </a>
        </div>

    </div>

    <div class="image-block">
        <img class="image-block__image__popov-image img" src="{{url_for('index')}}static/img/popov-main.png" alt="фотография А. С. Попова">
    </div>

</section>

<section class="links-section section">
    <h2 class="links-block__title title">А.&nbspС.&nbspПопов <span class="pr">Биография</span></h2>
    <p class="links-block__text">
        Навигация по разделам:
    </p>
    <div class="links-block__links">
        <a class="link" href="#bio"><i class="fa-solid fa-link" style="color: #252525;"></i> Детство и юность</a>
        <a class="link" href="#career"><i class="fa-solid fa-link" style="color: #252525;"></i> Начало научной
            карьеры</a>
        <a class="link" href="#radio"><i class="fa-solid fa-link" style="color: #252525;"></i> Создание радио</a>
        <a class="link" href="#director"><i class="fa-solid fa-link" style="color: #252525;"></i> Первый директор
            Электротехнического института</a>
        <a class="link" href="#last-years"><i class="fa-solid fa-link" style="color: #252525;"></i> Последние годы
            жизни в
            ЛЭТИ</a>
        <a class="link" href="#last-years"><i class="fa-solid fa-link" style="color: #252525;"></i> Наследие</a>

    </div>
</section>

<section class="bio section" id="bio">


    <div class="main-text-block">
        <h2 class="main-text-block__title title">Детство и юность</h2>

        <div class="main-text-block__text text">
            <div class="image-container image-container_right">
                <img class="image" src="{{url_for('index')}}static/img/parents.jpg" alt="Родители А. С. Попова">
                <div class="image-description">Родители А.&nbspС.&nbspПопова</div>
            </div>

            <p class="text"><span class="pr-dark">Александр Степанович Попов</span> родился 16 марта 1859 года
                (все даты указываются по новому
                стилю) на Северном Урале, в горняцком селении Турьинские Рудники, в семье священника, настоятеля
                Максимовской церкви <span class="pr-dark">Степана Петровича Попова</span> (1827–1897) и его
                жены <span class="pr-dark">Анны Степановны</span> (1830-1903),
                средним из семи детей. Семья была очень дружная. Старшие – брат Рафаил (1849–1913) и сестры
                Екатерина (1850-1903) и Мария (1852-1871) всегда помогали младшим. Александр, в свою очередь,
                заботился о младших сестрах – Анне (1860–1930), Августе (1863–1941) и Капитолине (1870–1942). Кроме
                основной службы С.П. Попов практически всю жизнь безвозмездно занимался «обучением детей грамоте и
                закону Божию» в <span class="pr-dark">горно-заводской школе</span> и в домашней школе для
                девочек, которую содержал за свой счет.
                За свою усердную и полезную службу он был награжден многими благодарностями, бронзовым (1857) и
                золотым наперсными крестами (1877) и <span class="pr-dark">орденом св. Владимира 4-й
                    степени</span> (1986). Анна Степановна также
                бесплатно обучала девочек-школьниц рукоделию, за что получила благодарность духовной консистории.
            </p>

            <div class="image-container image-container_left">
                <img class="image" src="{{url_for('index')}}static/img/seminary.jpg" alt="Пермская духовная семинария">
                <div class="image-description">Пермская духовная семинария</div>
            </div>

            <p class="text">Проявлению интереса Александра к технике способствовало то обстоятельство, что в кругу
                знакомых семьи Поповых было много инженеров, выпускников <span class="pr-dark">Петербургского
                    горного института</span>. С
                интересом посещал он рудники и мастерские, сам пытался мастерить разнообразные механизмы. Всю жизнь
                Попов был благодарен мужу сестры Екатерины <span class="pr-dark">В.П. Словцову</span> (1844 –
                1934), священнику, как и его отец,
                научившему его столярному, слесарному и токарному делу. Начальное образование Александр получил в
                <span class="pr-dark">Далматовском</span> (1869−1871) и <span class="pr-dark">Екатеринбургском</span> (1871−1873) духовных училищах. В 1873 году Попов
                поступил в Пермскую духовную семинарию. В этих учебных заведениях обучение для детей духовного
                сословия было бесплатным, что для большой семьи Поповых имело существенное значение. Религиозное
                воспитание привило Александру Попову <span class="pr-dark">высокие моральные качества</span>,
                неоднократно отмеченные знавшими
                его людьми.
            </p>

            <p class="text">Общеобразовательные классы семинарии, дававшие знания в объеме классической гимназии с
                правом поступления в университет, Попов <span class="pr-dark">окончил с отличием</span> в 1877
                году.</p>
            <p class="text">В сентябре 1877 года Александр Попов поступил на <span class="pr-dark">
                    физико-математический факультет
                    Петербургского университета
                </span>. В Петербург, где в это время жил Рафаил, закончивший
                историко-филологический факультет Петербургского университета, он приехал с сестрами Анной и Августой.
                (Анна получила среднее медицинское образование, а Августа окончила <span class="pr-dark">Академию
                    художеств</span>.) Стипендию
                Александр Попов получал только на первом и третьем курсах и свои <span class="pr-dark">финансовые
                    проблемы</span> решал
                репетиторством.</p>
        </div>
    </div>

</section>

<section class="scientific-career section" id="career">

    <h2 class="main-text-block__title title">Начало научной карьеры</h2>

    <div class="main-text-block__text text">
        <div class="image-container image-container_right">
            <img class="image" src="{{url_for('index')}}static/img/univer.jpg" alt="Петербургский университет">
            <div class="image-description">Петербургский университет</div>
        </div>

        <p class="text">В ноябре 1882 года А.С. Попов окончил университет и после представления диссертации на тему «О
            принципах динамоэлектрических машин постоянного тока» (январь 1883 г.), заслужившей высокую оценку, получил
            диплом кандидата. Его первая научная статья по материалам диссертации была опубликована в сентябрьском
            номере журнала «Электричество» за 1883 год.</p>

        <p class="text">По решению ученого совета А. Попов был оставлен в университете для подготовки к профессорскому
            званию. Летом
            1883 года он принял приглашение занять место преподавателя и
            заведующего физическим кабинетом в Минном офицерском классе в Кронштадте, который имел прекрасно
            оборудованный физический кабинет и хорошую библиотеку. Работу Попов начинал по вольному найму с окладом
            около 100 рублей в месяц, руководил практическими занятиями по гальванизму, читал лекции по высшей
            математике. Работая с морскими офицерами, Александр Степанович понял, что в условиях бурного развития флота
            решение проблемы обмена информацией становилось все более актуальным.
        </p>

        <div class="image-container image-container_left">
            <img class="image" src="{{url_for('index')}}static/img/students.jpg" alt="Студенты">
            <div class="image-description">Студенты</div>
        </div>

        <p class="text">В июле-августе 1887 года А.С. Попов участвовал в экспедиции РФХО в Красноярске для наблюдения
            полного солнечного затмения. Он разработал методику фотометрических исследований, сконструировал и изготовил
            фотометр для фотосъемки солнечной короны.</p>

        <p class="text">По традиции преподаватели Офицерских классов читали в Морском офицерском собрании публичные
            лекции о
            последних достижениях науки. Лекции А.С. Попова отличались актуальным содержанием и прекрасной демонстрацией
            физических опытов, производивших на слушателей незабываемое впечатление.</p>

        <p class="text">Благодаря высокой эрудиции в решении технических вопросов А.С. Попов вскоре стал одним из
            ведущих
            специалистов Морского ведомства, членом Морского технического комитета и регулярно привлекался к решению
            сложных практических вопросов.</p>


        <div class="image-container image-container_right">
            <img class="image" src="{{url_for('index')}}static/img/power_station.jpg" alt="Нижегородская электростанция">
            <div class="image-description">Нижегородская электростанция</div>
        </div>

        <p class="text">С 1889 по 1898 годы в летние месяцы, свободные от занятий в МОК, А.С. Попов заведовал
            электростанцией, обслуживавшей Нижегородскую ярмарку. За сезон он получал 2500 рублей − вдвое больше годовой
            ставки преподавателя МОК. С его приходом работа станции заметно улучшилась.</p>
        <p class="text">Опыт работы на Нижегородской электростанции дал Попову материал и для составления учебника по
            электрическим машинам, изданного в 1897 году Морским ведомством.</p>


        <p class="text">В декабре 1890 года Попов начал совмещать работу в МОК с работой штатного преподавателя физики и
            электротехники в Техническом училище Морского ведомства, расположенного недалеко от МОК. Должность давала
            право на чинопроизводство и на пенсию по выслуге лет. При зачислении на службу в училище он подписал
            Клятвенное обязательство, иначе говоря, принял присягу «верно и нелицемерно служить и всякую вверенную
            тайность крепко хранить». </p>

        <div class="image-container image-container_right">
            <img class="image" src="{{url_for('index')}}static/img/tech_school.jpg" alt="Техническое училище, где работал А.С. Попов">
            <div class="image-description">Техническое училище</div>
        </div>

        <p class="text">Начало работ А.С. Попова в области беспроводной связи относится к 1889 году. В 1887 году были
            опубликованы
            две статьи немецкого физика Г. Герца о результатах его экспериментальных работ, подтвердивших справедливость
            теории Д.К. Максвелла. В 1890 году А.С. Попов прочитал цикл лекций о распространении электромагнитных волн с
            демонстрацией опытов Герца, объединенных общим названием «Новейшие исследования о соотношении между
            световыми и электрическими явлениями». </p>

        <p class="text">Демонстрация опытов была настолько яркой и убедительной, что командование поручило ему
            прочитать лекцию в
            Петербурге в Адмиралтействе для более широкого круга слушателей – морских офицеров. По воспоминаниям
            современников Попов уже в то время говорил об использовании «лучей Герца» или «лучей электрической силы» для
            сигнализации на расстоянии без проводов.</p>
    </div>

</section>

<section class="creation-of-radio section" id="radio">

    <h2 class="main-text-block__title title">Создание радио</h2>

    <div class="main-text-block__text text">
        <div class="image-container image-container_right">
            <img class="image" src="{{url_for('index')}}static/img/gerz.jpg" alt="Вибратор Герца">
            <div class="image-description">Вибратор Герца</div>
        </div>

        <p class="text">Но наибольший интерес для Попова в это время представляет задача создания системы передачи
            сигналов без проводов для флота. Источником высокочастотных затухающих электромагнитных колебаний -
            передатчиком - в опытах Попова служил модернизированный им вибратор Герца с искровым разрядником, питаемым
            от катушки Румкорфа (высокочастотного трансформатора). Специальное устройство – прерыватель – обеспечивало
            подачу на катушку последовательности импульсов тока с частотой, необходимой для генерирования серий
            высокочастотных затухающих колебаний разной длительности (короткой и длинной). Над проблемой создания
            прибора, способного выявлять наличие высокочастотного электромагнитного излучения, работали многие ученые в
            мире, в том числе и А.С. Попов.</p>

        <p class="text">
            В 1890 года французский ученый Бранли создал «радиокондуктор» - прибор, который представлял собой трубочку с
            металлическими опилками, сопротивление которых изменялось под воздействием высокочастотных колебаний.
            Недостатком этого прибора являлась потеря чувствительности после одноразового облучения.
        </p>

        <p class="text">
            Английский физик О. Лодж усовершенствовал прибор Бранли (1894 г.), подсоединив к нему механическое
            устройство для периодического встряхивания опилок, назвав его когерер (от слова «когезия» −
            сцепление).
        </p>

        <p class="text">
            Однако эти встряхивания производились вне какой-либо связи с посылками электромагнитных излучений, поэтому
            такое решение не обеспечивало возможности достоверного приема последовательности сигналов, передаваемых с
            помощью электромагнитных волн.
        </p>


        <div class="image-container image-container_left">
            <img class="image" src="{{url_for('index')}}static/img/seminary.jpg" alt="Пермская духовная семинария">
            <div class="image-description">Пермская духовная семинария</div>
        </div>

        <p class="text">Попов изобрел новую схему автоматического восстановления чувствительности когерера. В цепь с
            когерером было включено реле, обеспечивавшее подключение исполнительного устройства - электрического звонка,
            молоточек которого бил по трубочке, встряхивая опилки и восстанавливая сопротивление когерера после приема
            каждой посылки затухающих электромагнитных колебаний. В зависимости от замыкания телеграфного ключа
            прерывателя посылка могла быть короткой или продолжительной. Задача обеспечения беспроводной связи была
            принципиально решена.</p>

        <p class="text">
            Весной 1895 года А.С. Попов и его ассистент П.Н. Рыбкин (1868–1948) проводили опыты по передаче и приему
            сигналов на расстояние 30 сажен (64 метра) в саду МОК. В качестве антенны приемника использовалась
            проволока, поднятая воздушными шарами на высоту 2,5 метра.
        </p>

        <p class="text">
            7 мая 1895 года на заседании Физического отделения РФХО Попов выступил с докладом «Об отношении
            металлических порошков к электрическим колебаниям», в котором изложил результаты проведенных им исследований
            и продемонстрировал способность изобретенного им прибора принимать последовательность «коротких и
            продолжительных сигналов», то есть, по существу, производить передачу элементов азбуки Морзе.
        </p>

        <p class="text">
            Фактически система, созданная и опробованная в действии А.С. Поповым, содержала все существенные элементы и
            их связи, которые присущи современному понятию «радиолиния передачи сигналов».
        </p>

        <p class="text">В ходе первых испытаний приемника была замечена его восприимчивость к атмосферным разрядам. А.С.
            Попов сконструировал специальный прибор, названный позже грозоотметчиком, для круглосуточного приема
            электромагнитных колебаний естественного происхождения с автоматической записью их на бумажную ленту
            самопишущего прибора. С июля 1895 года грозоотметчик применялся практически: для метеорологических
            наблюдений − в Лесном институте и для изучения атмосферных помех радиоприему − в лаборатории МОК.</p>

        <p class="text">
            Таким образом, весной 1895 года А.С. Попов реализовал почти одновременно два типа радиосвязи, которые до сих
            пор успешно развиваются: от человека к человеку и от природного объекта к человеку.
        </p>

        <p class="text">
            Полное описание первой в мире системы радиосвязи было опубликовано в январском номере Журнала РФХО под
            названием «Прибор для обнаружения и регистрирования электрических колебаний» (1896, т.28, Вып.1.
            с.1-14).
        </p>

        <p class="text">
            Зимой 1895−1896 годов Попов занимался совершенствованием радиоаппаратуры. В январе он выступил на заседании
            Кронштадтского отделения ИРТО, демонстрируя работу переносного приемника с симметричной антенной,
            аналогичной антенне передатчика (по его словам, «для достижения резонанса»). Представителям Морского
            ведомства, выслушавшим доклад, стало понятно, что изобретено принципиально новое средство связи.
            Распространение информации об этом было нежелательным. Аппаратуру с рефлекторными антеннами направленного
            действия Попов использовал во время доклада 24 марта 1896 года на очередном заседании РФХО. В тот раз между
            зданиями Петербургского университета на расстояние 250 метров были переданы азбукой Морзе и слова «Heinrich
            Hertz». Однако в протокол заседания была записана только одна фраза о демонстрации Поповым «приборов,
            описанных ранее». 14 апреля преподавателем физики ЭТИ В.В. Скобельцыным аппаратура Попова была показана в
            действии уже в стенах ЭТИ. Ныне эта аппаратура экспонируется в Мемориальном музее А.С. Попова в
            Санкт-Петербургском государственном электротехническом университете «ЛЭТИ» им. В.И. Ульянова (Ленина)
            (СПбГЭТУ).
        </p>

        <p class="text">
            Как ученого-физика А.С. Попова интересовали научные открытия во всех областях применения электричества. К
            началу 1896 года относятся его работы в области только что открытых рентгеновских лучей. Уже в феврале им
            был изготовлен один из первых в России рентгеновских аппаратов, получены снимки различных предметов, в том
            числе снимок руки человека. При его поддержке в кронштадтском Николаевском военно-морском госпитале в 1897
            году был оборудован рентгеновский кабинет, впоследствии некоторые боевые корабли были оснащены
            рентгеновскими аппаратами. Известно, что после сражения в Цусимском проливе на крейсере «Аврора», имевшем
            такую установку, была оказана помощь 40 раненым морякам.
        </p>

        <p class="text">
            Во второй половине 1896 года в западной, а затем и в российской печати появились сообщения о демонстрации в
            Лондоне опытов по беспроволочной телеграфии итальянского изобретателя Г. Маркони. Устройство
            сконструированных им приборов держалось в секрете.
        </p>

        <p class="text">
            Эта информация, безусловно, заставила Попова более интенсивно вести работы по разработке аппаратуры
            беспроволочного телеграфирования. В течение 1896−1897 учебного года А.С. Попов занимался подготовкой опытов
            телеграфирования без проводов. В январе 1897 года в газете «Котлин» он опубликовал статью «Телеграфирование
            без проводов», а в марте 1897 года прочитал лекцию «О возможности телеграфирования без проводов» в Морском
            собрании Кронштадта. Лекция проходила при большом стечении публики: «адмиралов, генералов и офицеров всех
            родов оружия, дам, частных лиц и учащихся» (газета «Котлин» от 13 апреля 1897 г.) Уже весной 1897 года
            начались опыты по сигнализации без проводов в Кронштадтской гавани, где была достигнута дальность 300 сажен
            (около 600 м.). В летнюю кампанию 1897 года был выполнен целый ряд исследований. Между кораблями
            Учебно-минного отряда в Финском заливе была получена дальность связи на расстояниях до 5 километров. По ходу
            испытаний было обнаружено отражение радиоволн посторонним металлическим телом (крейсер «Лейтенант Ильин»),
            попавшим на прямую линию между кораблями, на которых были установлены передатчик (транспорт «Европа») и
            приемник (крейсер «Африка»). Это свойство радиоволн, исследованное А.С. Поповым еще в 1890 году в
            лаборатории МОК, ученый предложил использовать для определения направления на работающий передатчик для
            радиомаяков и радиопеленгаторов, для решения навигационных задач.
        </p>

        <p class="text">
            4 июня 1897 года в Лондоне В. Прис, главный инженер телеграфов Великобритании, сделал доклад, в котором
            впервые раскрыл техническое устройство аппаратуры Г. Маркони. Деятельность Г. Маркони имела всегда ярко
            выраженную коммерческую направленность. Предварительную краткую заявку на изобретение под названием
            «Усовершенствования в передаче электрических импульсов и сигналов и в аппаратуре для этого» он подал 2 июня
            1896 года. Со времени приезда в Англию он получил очень серьезную инженерную поддержку со стороны
            специалистов британского Почтово-телеграфного ведомства. Согласно британскому патентному праву того времени,
            не требовавшему экспертизы на мировую новизну, Маркони получил патент, действительный только в
            Великобритании. В том же году была основана его фирма. В России, Франции и Германии ему было отказано в
            патентовании со ссылкой на публикации А.С. Попова.
        </p>

        <p class="text">
            А.С. Попов не оставил без внимания выступление Приса и публикацию патента Маркони. В своих статьях в
            российской и английской (журнал «Electriсian») печати он указал, что приемник Маркони не имеет существенных
            отличий от его приемника и грозоотметчика, устройство которых было опубликовано на 1,5 года раньше. В то же
            время, Попов отдавал должное работам Маркони, который «первый имел смелость стать на практическую почву и
            достиг в своих опытах больших расстояний». И действительно, энергичная деятельность Маркони оказала
            ускоряющее воздействие на развитие радиотехники.
        </p>

        <p class="text">
            Осенью 1897 года Попов выступал с докладами о беспроволочной телеграфии с демонстрацией системы радиосвязи
            перед различными аудиториями: в Кронштадтском морском собрании (март), на 4-м совещательном съезде
            железнодорожных электротехников в Одессе (сентябрь), в Петербурге – в ИРТО (сентябрь), в Электротехническом
            институте (октябрь), в Петербургском университете (декабрь).
        </p>

        <p class="text">
            В это же время французский инженер и владелец мастерской физических приборов Э. Дюкрете (1844−1915),
            пользуясь опубликованными работами А.С. Попова, создал первую во Франции аппаратуру для телеграфии без
            проводов и демонстрировал ее на заседании Французского физического общества. Между Поповым и Дюкрете
            установилось деловое сотрудничество, позволившее в 1898 году приступить к серийному производству
            радиостанций. В 1898-1905 годах Дюкрете постоянно пользовался письменными консультациями А.С. Попова. В мае
            1899 года во время зарубежной командировки Попов посетил фирму Дюкрете. Морское ведомство России дало заказ
            на поставку 50 корабельных радиостанций в течение пяти лет.
        </p>

        <p class="text">
            Летом 1899 года Попов был командирован Морским ведомством в Англию, Францию, Германию и Швейцарию для
            ознакомления с постановкой электротехнического образования и производством аппаратуры беспроволочного
            телеграфирования. Испытания комплекта аппаратуры, изготовленного в мастерской Е.В. Колбасьева, в
            соответствии с методическими указаниями Попова проводили П.Н. Рыбкин и начальник Кронштадтского телеграфа
            капитан Д.С. Троицкий (1857–1920). Они обнаружили высокую чувствительность аппаратуры при приеме сигналов на
            головные телефоны. Из Цюриха телеграммой был вызван А.С. Попов, который исследовал обнаруженный «детекторный
            эффект» когерера.
        </p>

        <p class="text">
            В результате тщательного исследования данного эффекта он разработал усовершенствованный когерер
            (кристаллический диод) на основе контакта между окисленными в разной степени металлами (стальными иглами) и
            электродами (платиновыми или угольными) и схему телефонного детекторного приемника. Высокая чувствительность
            нового приемника позволила втрое увеличить дальность связи. Попов открыл новую эпоху в радиосвязи - прием на
            слух. Патенты на «телефонный приемник депеш» А.С.Попов получил в России (№ 6066 от 14 июля 1899 г., выдан 13
            декабря 1901 г.). Патент Великобритании А.С. Попова на усовершенствованный детектор для телефонного приема №
            2797 был заявлен 12 февраля 1900 года, выдан 22 февраля 1900 года При активном участии Э. Дюкрете патенты
            получены: − во Франции (№ 296354 от 22 января 1900 г. и с дополнением к этому патенту получен 26 октября
            1900 г.), в США (№ 722,139 от 3 марта 1903 г.). в Швейцарии - патент А.С. Попова на «Приемник для телеграфии
            без проводов» № 21905 (выдан 9 апреля 1900 г.), патент Испании № 25816 (выдан 11 апреля 1900 г.). В США
            патент А.С. Попова на «Самодекогерирующуюся когерерную систему» № 722139, заявленный 8 марта 1900 года, был
            выдан 8 марта 1903 года; патент Испании № 25816 был выдан 11 апреля 1900 года.
        </p>

        <p class="text">
            В августе 1899 года Попов проводил опыты по радиосвязи с воздушным шаром в Воздухоплавательном парке под
            Санкт-Петербургом.
        </p>

        <p class="text">
            В августе-сентябре 1899 года Попов и Рыбкин участвовали в испытаниях радиостанций, изготовленных фирмой
            Дюкрете, на кораблях Черноморской эскадры.
        </p>

        <p class="text">
            В конце 1899 году Морским техническим комитетом было предложено использовать радиосвязь для организации
            работ по спасению броненосца береговой обороны «Генерал-адмирал Апраксин», севшего на камни у о. Гогланд в
            Финском заливе в результате навигационной ошибки. И в начале 1900 года А.С. Попов и П.Н. Рыбкин участвовали
            в строительстве и вводе в эксплуатацию первой практической линии радиосвязи между о. Гогланд и финским
            города Котка, имевшим телеграфную проводную связь с Петербургом. Ледокол «Ермак» обеспечивал проведение
            операции. Одна радиостанция была построена на о. Гогланд, ее развернул П.Н. Рыбкин. Другая устанавливалась
            под руководством А.С. Попова на небольшом острове Кутсало вблизи г. Котка. Обе станции строились в
            тяжелейших условиях при сильных морозах и метелях.
        </p>

        <p class="text">
            5 февраля 1900 года радиосвязь была установлена. Первая же радиограмма, отправленная А.С. Поповым из Котки и
            принятая П. Н. Рыбкиным на Гогланде, содержала приказ командиру ледокола «Ермак» выйти в открытое море для
            помощи рыбакам, унесенным на льдине. К вечеру 6 февраля «Ермак» вернулся с 27 рыбаками на борту. Таким
            образом, изобретение А.С. Попова уже при первом его практическом применении послужило гуманной цели −
            спасению попавших в беду людей.
        </p>

        <p class="text">
            В связи с удачным применением радиосвязи на имя А.С. Попова поступили поздравительные телеграммы. Адмирал
            С.О. Макаров телеграфировал: «От имени всех кронштадтских моряков сердечно приветствую Вас с блестящим
            успехом Вашего изобретения. Открытие беспроволочного сообщения от Котки до Гогланда на расстоянии 45 верст
            есть крупнейшая научная победа». Отвечая адмиралу Макарову, Попов пишет: «Благодаря “Ермаку” и
            беспроволочному телеграфу было спасено несколько человеческих жизней. Это является лучшей наградой за все
            мои труды, и впечатления этих дней, вероятно, никогда не забудутся».
        </p>

        <p class="text">Радиолиния продолжала работать в течение 84 дней до окончания спасательных работ. За эти дни
            было передано 440 радиограмм (свыше 10000 слов). В апреле 1900 года броненосец был благополучно снят с
            камней и своим ходом отправился на ремонт.</p>

        <p class="text">
            Важным следствием успешной эксплуатации радиолинии явилось решение о принятии на вооружение военно-морского
            флота аппаратуры беспроволочного телеграфирования. А.С. Попов был назначен ответственным наблюдающим за
            процессом оснащения кораблей аппаратурой беспроволочной телеграфии. Стала очевидной необходимость подготовки
            специалистов по беспроволочной телеграфии.
        </p>

        <p class="text">
            «По высочайшему соизволению» Попову было выдано крупное по тем временам денежное вознаграждение в 33 тысячи
            рублей «за работы по внедрению радиосвязи на кораблях флота». Такая сумма определялась и с учетом разрыва
            Поповым контракта с Нижегородской ярмаркой и отказом от преподавательской деятельности в Техническом училище
            Морского ведомства.
        </p>

        <p class="text">
            В 1900 году в Кронштадте при непосредственном участии Попова открывается мастерская по изготовлению и
            ремонту радиоаппаратуры − первое предприятие отечественной радиопромышленности.
        </p>

        <p class="text">
            Летом 1900 года в Париже проходила Всемирная промышленная выставка, на которой демонстрировались в действии
            грозоотметчик А.С. Попова, изготовленный в Кронштадтской мастерской Е.В. Колбасьева, и корабельная
            радиостанция, выпускаемая парижской фирмой Дюкрете под маркой «Попов-Дюкрете-Тиссо». Попов как участник
            выставки был удостоен за грозоотметчик именной золотой медали и диплома, а аппаратура фирмы Дюкрете с
            детекторным приёмником А.С. Попова — гран-при выставки. На проходившем там же 18−25 августа 1900 года IV
            Международном электрическом конгрессе Александр Степанович присутствовать не смог. Подготовленный им доклад
            о «телефонном приемнике депеш» был прочитан профессором ЭТИ М.А. Шателеном и вызвал большой интерес у
            делегатов конгресса.
        </p>

        <p class="text">
            Зимой 1900−1901 года А.С. Попов добивается расширения Кронштадтской мастерской по ремонту и изготовлению
            радиоаппаратуры, и за период 1901−1904 годов здесь было изготовлено 54 корабельных радиостанции. Осенью 1901
            года Попов и Рыбкин занимались работами по постройке первой российской коммерческой линии радиосвязи в
            Ростове-на-Дону, обеспечивавшей судоходство в донских гирлах.
        </p>

        <p class="text">
            В годы интенсивной научно-преподавательской деятельности А.С. Попов разработал ряд оригинальных курсов по
            физике и электротехнике, часть из которых дошла до нас в виде литографированных изданий. Александр
            Степанович организовал курсы для подготовки радиотелеграфистов и разработал для них программы лекционных и
            практических занятий. В мае 1900 года в МОК началось преподавание радиотелеграфного дела.
        </p>
    </div>

</section>

<section class="first-director section" id="director">

    <h2 class="main-text-block__title title">Первый директор Электротехнического института</h2>

    <div class="main-text-block__text text">
        <!-- <div class="image-container image-container_right">
            <img class="image" src="{{url_for('index')}}static/img/parents.jpg" alt="Родители А. С. Попова">
            <div class="image-description">Родители А.&nbspС.&nbspПопова</div>
        </div> -->

        <p class="text">В марте 1901 года А.С. Попов получил приглашение от директора Электротехнического института
            (ЭТИ) Н.Н. Качалова занять должность ординарного профессора физики. Он ответил согласием, но с условием
            сохранения службы в Морском ведомстве для выполнения работ «по организации беспроволочного телеграфа на
            судах русского флота, каковое поручение я считаю своей нравственной обязанностью довести до конца». В
            сентябре 1901 года начались занятия в ЭТИ, ещё в старом здании − на Ново-Исаакиевской улице, в доме №18.
            Одним из первых документов профессора Попова в ЭТИ была записка «Общие направления курса физики и ближайшие
            задачи научных работ в физической лаборатории Электротехнического института». В ней содержались не только
            основные положения по подготовке инженеров-электриков по физике, но и программа научно-исследовательских
            работ, определившая круг исследуемых проблем на многие годы. Главная задача курса физики, определенная
            Поповым в этом документе: «дать основы учения об электричестве в таком изложении, чтобы те глубокие взгляды
            на природу электрических явлений, которые создались благодаря работам М. Фарадея и Д.К. Максвелла, опытам
            Герца, не казались недоступными для обыкновенных смертных, а напротив, явились руководящими началами в
            изучении электротехники. ... Эта новая область электрических явлений, давшая столь поразительные
            практические результаты в телеграфировании без проводов, дает в то же время столь много новых фактов, так
            быстро расширяет горизонт, что трудно даже предвидеть пределы её влияния на учение об электричестве. Посему
            изучение этого нового вида электрической энергии должно занять одно из главных мест в курсе физики... Целый
            ряд открытых, но не объясненных еще явлений в этой области учения об электричестве дает обильный материал
            для более сложных работ на многие годы...»
        </p>

        <!-- <div class="image-container image-container_left">
            <img class="image" src="{{url_for('index')}}static/img/seminary.jpg" alt="Пермская духовная семинария">
            <div class="image-description">Пермская духовная семинария</div>
        </div> -->
        <p class="text">Для решения поставленных задач А.С. Попов разработал ряд курсов по физике, поставил 42
            лабораторные работы: по общему курсу физики (23), по электричеству и магнетизму (19) − создал научную
            лабораторию.</p>

        <p class="text">
            В начале 1902 года А.С. Попов участвовал в работе II Всероссийского электротехнического съезда в Москве в
            здании Политехнического музея, где был избран его почетным участником.
        </p>

        <p class="text">
            Ещё в 1900 году, в Париже, Попов познакомился с работами Пьера и Марии Кюри. На Физическом конгрессе они
            сделали доклад о результатах своих исследований. В 1902 году Александр Степанович разработал оригинальный
            метод и создал прибор для измерения «напряжения электрического поля атмосферы с помощью ионизационного
            действия солей радия».
        </p>

        <p class="text">
            Возможности проведения научных исследований расширились с переездом ЭТИ в новые здания на Аптекарском
            острове: учебный корпус, оборудованный с учётом достижений в области электротехники, и жилой дом, в одной из
            квартир которого поселилась семья профессора Попова.
        </p>

        <p class="text">Перечень выполненных в это время научно-исследовательских работ свидетельствует о широте научных
            интересов А.С. Попова. На прошедшем 4 января 1904 году в здании ЭТИ заседании 3-его Всероссийского
            электротехнического съезда профессор А.С. Попов и его аспирант С.Я. Лифшиц доложили о разработке
            радиоаппаратуры для передачи звуков человеческой речи с помощью затухающих электромагнитных колебаний.
            Дальность связи обеспечивалась на расстоянии до 2 км. Совместно с аспирантом Д.А. Рожанским были выполнены
            исследования затухающих электрических колебаний с помощью осциллографической трубки Брауна (1904−1905). Был
            изобретен оптический прибор для обнаружения плавающих мин и системы телемеханического управления брандерами
            (1903–1904). Самое серьезное внимание Попов уделял вопросам разработки приборов и методов измерения длин
            волн радиопередатчиков (1905). В период 1900–1905 годов он проводил эксперименты по использованию явления
            резонанса для увеличения чувствительности приемных устройств и улучшения их избирательности. В эти годы
            сформировалась научно-педагогическая школа А.С. Попова, представленная такими именами как А.А. Петровский,
            П.С. Осадчий, Д.А. Рожанский, Н.А. Скрицкий, С.И. Покровский.</p>

        <p class="text">
            Оставаясь членом Морского технического комитета, Александр Степанович продолжал курировать вопросы
            вооружения флота аппаратурой беспроволочной телеграфии. Он участвовал, как представитель Морского ведомства
            России, в Берлинской конференции по международной регламентации радиосвязи (1903). Открывая эту конференцию,
            германский министр почт и телеграфов Р. Кретке подчеркнул: «Попову мы обязаны возникновением первого
            радиографического аппарата».
        </p>

        <p class="text">
            В мае 1904 году АО русских электротехнических заводов «Сименс и Гальске» объявило о том, что обществом
            образовано «особое отделение для устройства беспроволочного телеграфа по системе профессора Попова и
            Общества беспроволочной телеграфии «Telefunken» в Берлине. Настоящее объединение имеющего всемирное значение
            изобретения, сделанного в России профессором А.С. Поповым, его опытности в применении беспроволочного
            телеграфа на деле с изобретениями и обширной практикой Общества беспроволочной телеграфии дает возможность
            применять в России приборы, во всем удовлетворяющие новейшим требованиям».
        </p>

        <p class="text">Среди учредителей германской радиотехнической компании «Telefunken» были известные немецкие
            ученые Ф. Браун, В. Сименс, А. Слаби и Г. Арко. По условиям заключенного на пять лет (считая с 1 января 1904
            г.) договора, оборотный капитал отделению предоставляли обе фирмы, а прибыль делилась поровну на трех
            контрагентов – обе фирмы и А.С. Попов. Как видим, немецкие и российские инвесторы высоко оценили
            интеллектуальную собственность русского ученого.</p>

        <p class="text">
            В связи с началом Русско-японской войны и подготовкой Второй Тихоокеанской эскадры к походу на Дальний
            Восток, Попов читал специальные лекции по беспроволочной телеграфии для офицеров-минёров. Но подготовка была
            явно недостаточной, средства радиосвязи практически не использовались. Попов глубоко переживал поражение
            России в этой войне.
        </p>

        <p class="text">
            В 1905 году Александр Степанович выступил с циклом лекций по беспроволочной телеграфии в
            Военно-артиллерийской академии в Петербурге. В том же году он читал публичные лекции народным учителям в
            Павловске в апреле−мае 1905 года, проводил занятия с инженер-электриками − выпускниками ЭТИ. Обучение
            проводилось на радиостанциях, построенных в Сестрорецке, Ораниенбауме и Петербурге (на Крестовском острове).
            Часть аппаратуры учебной телеграфной станции сохранилась и экспонируется в Мемориальном музее А.С. Попова в
            СПбГЭТУ «ЛЭТИ».
        </p>

        <p class="text">
            Осенью 1905 года по стране прокатилась революционная волна, высшая школа получила автономию, включая право
            выбора директора. Совет ЭТИ избрал Попова своим директором. 15 октября 1905 года под его председательством
            прошло заседание Совета с участием всего педагогического состава института, который поддержал студенческие
            требования демократических свобод. Протокол заседания первым подписал председатель Совета А.С. Попов.
        </p>
    </div>

</section>

<section class="last-years section" id="last-years">

    <h2 class="main-text-block__title title">Последние годы жизни и наследие</h2>

    <div class="main-text-block__text text">
        <!-- <div class="image-container image-container_right">
            <img class="image" src="{{url_for('index')}}static/img/parents.jpg" alt="Родители А. С. Попова">
            <div class="image-description">Родители А.&nbspС.&nbspПопова</div>
        </div> -->
        <p class="text">20 октября в окне студенческого общежития института появился красный флаг со словами: «Да
            здравствует демократическая республика». Последовал целый ряд вызовов в Министерство внутренних дел. После
            одной из таких бесед на 47-м году жизни 13 января 1906 года Александр Степанович Попов скоропостижно
            скончался от кровоизлияния в мозг. В последний путь «блистательного электротехника России» после отпевания в
            храме Преображения Господня его семья, коллеги, профессора и студенты ЭТИ провожали до Волковского кладбища
            Петербурга.</p>

        <p class="text">
            По действующему Уставу РФХО в новом 1906 году А.С. Попов должен был бы занять место председателя его
            Физического отделения и высший общественный научный пост президента Русского физико-химического
            общества.
        </p>

        <p class="text">
            В 1906 году была учреждена премия имени изобретателя радио А.С. Попова за лучшую научную работу в области
            электротехники, ее лауреатами до 1917 года стали: В.Ф. Миткевич (1906), Д.А. Рожанский (1911) и В.И.
            Коваленков (1916).
        </p>

        <p class="text">
            В ЭТИ в 1916 году по решению Совета ЭТИ была начата подготовка инженеров по специальности радиотелеграфные
            станции, а в 1917 году организована первая в России кафедра радиотехники (Н.А. Скрицкий, И.Г. Фрейман).
        </p>

        <!-- <div class="image-container image-container_left">
            <img class="image" src="{{url_for('index')}}static/img/seminary.jpg" alt="Пермская духовная семинария">
            <div class="image-description">Пермская духовная семинария</div>
        </div> -->

        <p class="text">На протяжении всей активной творческой жизни ученому сопутствовало определение «первый». Это
            первый когерерный радиотелеграфный приемник и первая искровая радиотелеграфная система (апрель 1895 г.);
            первый прибор для регистрации электромагнитных излучений атмосферного происхождения - грозоотметчик (июль
            1895 г.); первый детекторный радиоприемник с приемом телеграфных сигналов на слух (сентябрь 1899 г.); первый
            кристаллический точечный диод (июнь 1900 г.); первая радиотелефонная система (декабрь 1903 г.).</p>

        <p class="text">
            В 1945 году постановлением Правительства день рождения радиосвязи 7 мая был объявлен ежегодным
            государственным праздником − Днем радио. Была учреждена Золотая медаль имени А.С. Попова Российской академии
            наук (ранее АН СССР) — «За выдающиеся заслуги в области радио. А.С. Попов», введен нагрудный знак «Почетный
            радист», установлены именные стипендии для студентов и аспирантов по профилю радиотехники и
            электросвязи.
        </p>

        <p class="text">
            Память об ученом достойно увековечена в многочисленных монументах, памятниках, мемориальных досках в ряде
            городов, где он жил и работал.
        </p>

        <p class="text">Имя А.С. Попова присуждено научным учреждениям, учебным заведениям, промышленным предприятиям,
            радиостанциям, музеям, научно-техническим обществам, кораблям; его именем названы улицы городов. В 1945 году
            было образовано Российское научно-техническое общество радиотехники, электроники и связи (НТОРЭС) имени А.С.
            Попова. В Солнечной системе есть малая планета «Попов» (№ 3074), на обратной стороне Луны его именем назван
            кратер. О жизни и деятельности ученого сняты фильмы. В 1959 году в честь 100-летия со дня рождения А.С.
            Попова на Каменноостровском проспекте Санкт-Петербурга ему был сооружен памятник (скульптор − народный
            художник РСФСР В.Я. Боголюбов и архитектор − народный художник СССР Н.В. Баранов). Памятники А.С. Попову
            открыты также на аллее ученых на Воробьевых горах, в Екатеринбурге, Краснотурьинске, г. Котка (Финляндия);
            его бюсты установлены в Кронштадте, в Петродворце, на острове Гогланд, в Санкт-Петербурге на Литераторских
            мостках Волковского кладбища.</p>

        <p class="text">
            Основные этапы жизни и деятельности А.С. Попова достойно представлены в музеях России. Первая выставка
            созданных А.С. Поповым приборов была открыта 24 апреля 1906 года в стенах МОК, где ныне расположен
            Мемориальный музей-кабинет А.С. Попова. Именно здесь была изобретена аппаратура радиосвязи. В экспозиции
            представлены приборы, изготовленные самим ученым для демонстрации физических опытов, приборы из физического
            кабинета МОК, аппаратура радиосвязи. С 1906 по 2018 годы в здании МОК располагался Мемориальный
            музей-кабинет А.С. Попова. В июне 2018 года уникальные экспонаты музея были переданы в Кронштадтское
            отделение Центрального Военно-морского музея имени императора Петра Великого, располагающегося в бывшем
            Итальянском дворце, в здании бывшего Технического училища Морского ведомства, в котором с 1890 по 1899 годы
            преподавал А.С. Попов.
        </p>

        <p class="text">
            В Центральном музее связи имени А.С. Попова (ЦМС) в Санкт-Петербурге коллекция приборов А.С. Попова начала
            формироваться в 1926-1927 годах. В настоящее время здесь сосредоточена значительная часть аппаратурного
            наследия А.С. Попова, первые экземпляры радиоприемника и грозоотметчика, а также приборы, относящиеся к
            этапу изобретения беспроволочного телеграфа, оформлен специальный зал, посвященный изобретателю радио. В
            архиве музея выделен специальный документальный фонд А.С. Попова.
        </p>

        <p class="text">
            Мемориальный музей А.С. Попова СПбГЭТУ «ЛЭТИ» был открыт 27 июня 1948 года. Он объединяет мемориальный
            музей-лабораторию профессора физики в учебном корпусе университета и мемориальную квартиру учёного в жилом
            доме ЭТИ. В музее собраны коллекции подлинных документов и фотографий, сделанных самим Поповым – прекрасным
            фотографом, личные вещи членов семьи, подлинная обстановка квартиры. В музее-лаборатории представлены
            сохранившиеся в институте физические приборы, с которыми работал А.С. Попов, лабораторное оборудование,
            экспериментальная аппаратура беспроволочного телеграфа производства кронштадтских мастерских и аппаратура
            серийных корабельных радиостанций фирмы Э. Дюкрете. В архиве музея хранятся документы, подтверждающие
            приоритет русского ученого в изобретении радио.
        </p>

        <p class="text">В Военно-историческом музее артиллерии, инженерных войск и войск связи хранится один из первых
            опытных образцов когерерного приемника А.С. Попова, с использованием которого проводились опыты в
            Кронштадте.</p>

        <p class="text">
            Музеи открыты и на Урале, родине А.С. Попова, в г. Краснотурьинске. Мемориальный музей открыт в доме, где
            жила семья Поповых-Словцовых (1959, современная экспозиция 16 марта 1984 г.), в Екатеринбурге. Музей связи
            имени А.С. Попова с 31 января 1986 года размещается в доме, где во время учебы в духовном училище Саша Попов
            жил у своей старшей сестры Марии.
        </p>

        <p class="text">
            «Бессмертен научный подвиг Александра Степановича Попова, неисчерпаемо наследие, оставленное им
            человечеству» - так оценил деятельность А.С. Попова академик АН СССР лауреат Золотой медали имени А.С.
            Попова С.А. Векшинский. Пройдут годы, эти слова не потеряют своего глубокого смысла, имя А.С. Попова
            навсегда останется в ряду выдающихся представителей отечественной и мировой науки. Предвидения А.С. Попова
            оправдались вполне. XXI век стал веком телекоммуникации и информатизации.
        </p>

        <p class="text">
            По решению ЮНЕСКО всем мировым сообществом в 1995 году был торжественно отмечен 100-летний юбилей
            радио.
        </p>

        <p class="text">
            На посвященной 110-летию изобретения радио А.С. Поповым и прошедшей в Санкт-Петербурге Международной научной
            конференции «Радио − связь времен» (май 2005 г.), была торжественно открыта бронзовая памятная доска в честь
            первой публичной демонстрации системы радиосвязи 7 мая 1895 года. Решение о придании дню 7 мая 1895 года
            статуса «Веха в истории электротехники» было принято в рамках программы по истории электротехники
            «Milestones» Исторического центра Международной организации инженеров по электротехнике и электронике
            (Institute of Electrical and Electronics Engineers – IEEE). Доска была установлена около входа в
            мемориальную лабораторию Мемориального музея А.С. Попова СПбГЭТУ «ЛЭТИ», в которой изобретатель радио
            работал с 1903 по 1906 годы.
        </p>

        <div class="image-container image-container_right">
            <img class="image" src="{{url_for('index')}}static/img/rudn.jpg" alt="Турьинские рудники">
            <div class="image-description">Турьинские рудники</div>
        </div>

        <p class="text">Педагогическая деятельность А.С. Попова, воспитанника Санкт-Петербургского университета,
            оставила яркий след
            в процессе становления отечественной электротехнической и радиотехнической школы, подготовки как военных,
            так и гражданских специалистов. В 1901 году А.С. Попов он возглавил кафедру физики в Санкт-Петербургском
            электротехническом институте императора Александра III (ЭТИ). В сентябре 1905 года после вступления в силу
            царского декрета об автономии вузов Совет ЭТИ избрал А.С. Попова директором института.</p>

        <p class="text">
            Заслуги А.С. Попова были отмечены и государством, и научно-общественными организациями. Александр Степанович
            имел высокий чин статского советника (с 1901 г.), был награжден орденами Св. Анны 3-й и 2-й степеней (1895,
            1902), Св. Станислава 2-й степени (1897), серебряной медалью в память царствования Александра III на ленте
            ордена Александра Невского (1896), получил премию Императорского Русского технического общества (ИРТО) «за
            приемник для электрических колебаний и приборы для телеграфирования на расстоянии без проводов» (1898). Он
            был также удостоен звания Почетного инженер-электрика (1899) и получил «по Высочайшему соизволению»
            вознаграждение в сумме 33 тысячи рублей «за труды по применению телеграфирования без проводов на судах
            флота» (1900). Жюри Всемирной выставки в Париже, посвященной смене столетий, присудило ему большую золотую
            медаль и диплом за радиоаппаратуру его системы, демонстрировавшуюся в действии.
        </p>

        <p class="text">
            В 1902 году А.С. Попов был избран почетным членом Императорского Русского технического общества (ИРТО), а в
            1905 году − председателем Физического отделения и президентом Русского физико-химического общества (РФХО),
            должности, которые он должен был занять с 1 января 1906 года.
        </p>
    </div>

</section>

<!-- <section class="heritage section" id="heritage">

    <div class="main-text-block__title title">Наследие</div>

    <div class="main-text-block__text text">
        <div class="image-container image-container_right">
            <img class="image" src="{{url_for('index')}}static/img/parents.jpg" alt="Родители А. С. Попова">
            <div class="image-description">Родители А.&nbspС.&nbspПопова</div>
        </div>
        <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut temporibus, odio dicta ducimus
            debitis recusandae distinctio velit natus, magnam eligendi, voluptatem molestiae laboriosam. Numquam
            officia enim cumque magnam nobis? Itaque.
            Cumque assumenda harum error quis ut pariatur culpa, quas illo dolorem quod blanditiis enim doloribus
            labore mollitia accusamus eligendi, hic dignissimos modi atque ipsam, rerum repellat. Autem obcaecati
            est facere.
            Placeat qui adipisci id, asperiores, aliquid harum nobis impedit, ullam eos corrupti odio iste quod
            porro sed et. Accusantium eveniet fugit officia placeat sequi consequuntur odit consectetur mollitia
            numquam aliquam.
        </p>
        <div class="image-container image-container_left">
            <img class="image" src="{{url_for('index')}}static/img/seminary.jpg" alt="Пермская духовная семинария">
            <div class="image-description">Пермская духовная семинария</div>
        </div>
        <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate iusto quibusdam
            doloribus quasi quis delectus expedita quia ab optio, animi possimus repellat dolores id dolore odit!
            Accusamus tempora nulla aperiam?
            Impedit, odio aliquid, cum atque repudiandae nulla fugit praesentium perferendis tempore ratione modi
            accusamus placeat corrupti neque culpa itaque, aspernatur rerum fugiat necessitatibus ex debitis!
            Asperiores cumque sit nesciunt beatae?
            Eius illo quasi vel libero tenetur culpa, at possimus eos nam, obcaecati ipsum, dignissimos eligendi.
            Saepe, unde quaerat! Sint in sit ex reiciendis ea molestiae ullam quisquam magni ad. Cum.</p>
        <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat labore culpa, quibusdam a
            dolorem ea repelo?</p>
        <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat labore culpa, quibusdam a
            dolorem ea repelo?</p>
    </div>

</section> -->


{% endblock %}
