{% extends "base.html" %}


{% block title %}Главная страница{% endblock title %}


{% block style %}
<!-- Подключаем стили: your_file нужно изменить -->
<link rel="stylesheet" href="{{url_for('index')}}static/css/index-style.css">
{% endblock style %}


{% block content %}

<section class="main-section">

    <div class="text-block">

        <div class="text-block__sponsors title">При поддержке кафедры истории ЛЭТИ</div>

        <div class="title text-block__title title">История <span class="gold-text">великого физика</span> —
            А.&nbspС.&nbspПопова</div>

        <div class="text text text-block__text text">Я — русский человек и все свои знания, весь свой труд, все свои
            достижения имею
            право отдавать только моей Родине. &lt...&gt Как счастлив я, что не за рубежом, а в России открыто новое
            средство связи.</div>

        <div class="text-block__buttons">
            <a class="text-block__buttons__history text-block__buttons__button pr-btn" href="#">История</a>
            <a class="text-block__buttons__museum text-block__buttons__button btn" href="#">Музей «Квартира
                А.&nbspС.&nbspПопова» → </a>
        </div>

    </div>

    <div class="image-block">
        <div class="image-block__image">
            <img class="image-block__image__popov-image img" src="../static/img/popov-main.png"
                alt="фотография А. С. Попова">
        </div>
    </div>

</section>

<section class="bio-section">

    <div class="links-block">
        <div class="links-block__title title">А.&nbspС.&nbspПопов <span class="gold-text">Биография</span></div>
        <div class="links-block__text text">
            <p>Навигация по разделам:</p>
        </div>
        <div class="links-block__links">
            <a class="link" href="#"><i class="fa-regular fa-link" style="color: #252525;"></i> Детство и юность</a>
            <a class="link" href="#"><i class="fa-regular fa-link" style="color: #252525;"></i> Начало научной
                карьеры</a>
            <a class="link" href="#"><i class="fa-regular fa-link" style="color: #252525;"></i> Создание радио</a>
            <a class="link" href="#"><i class="fa-regular fa-link" style="color: #252525;"></i> Первый директор
                Электротехнического института</a>
            <a class="link" href="#"><i class="fa-regular fa-link" style="color: #252525;"></i> Последние годы жизни в
                ЛЭТИ</a>
            <a class="link" href="#"><i class="fa-regular fa-link" style="color: #252525;"></i> Наследие</a>

        </div>
    </div>

    <div class="main-text-block">
        <div class="main-text-block__title title">Детство и юность</div>

        <div class="main-text-block__text text">
            <div class="image-container-right">
                <img class="main-picture" src="../static/img/parents.jpg" alt="Родители А. С. Попова">
                <div class="photo-description">Родители А.&nbspС.&nbspПопова</div>
            </div>
            <div class="wrapper-text">
                <p class="text"><span class="pr-gold-text">Александр Степанович Попов</span> родился 16 марта 1859 года
                    (все даты указываются по новому
                    стилю) на Северном Урале, в горняцком селении Турьинские Рудники, в семье священника, настоятеля
                    Максимовской церкви <span class="pr-gold-text">Степана Петровича Попова</span> (1827–1897) и его
                    жены <span class="pr-gold-text">Анны Степановны</span> (1830-1903),
                    средним из семи детей. Семья была очень дружная. Старшие – брат Рафаил (1849–1913) и сестры
                    Екатерина (1850-1903) и Мария (1852-1871) всегда помогали младшим. Александр, в свою очередь,
                    заботился о младших сестрах – Анне (1860–1930), Августе (1863–1941) и Капитолине (1870–1942). Кроме
                    основной службы С.П. Попов практически всю жизнь безвозмездно занимался «обучением детей грамоте и
                    закону Божию» в <span class="pr-gold-text">горно-заводской школе</span> и в домашней школе для
                    девочек, которую содержал за свой счет.
                    За свою усердную и полезную службу он был награжден многими благодарностями, бронзовым (1857) и
                    золотым наперсными крестами (1877) и <span class="pr-gold-text">орденом св. Владимира 4-й
                        степени</span> (1986). Анна Степановна также
                    бесплатно обучала девочек-школьниц рукоделию, за что получила благодарность духовной консистории.
                </p>
            </div>
            <div class="image-container-left">
                <img class="main-picture" src="../static/img/seminary.jpg" alt="Пермская духовная семинария">
                <div class="photo-description">Пермская духовная семинария</div>
            </div>
            <div class="wrapper-text">
                <p class="text">Проявлению интереса Александра к технике способствовало то обстоятельство, что в кругу
                    знакомых семьи Поповых было много инженеров, выпускников <span class="pr-gold-text">Петербургского
                        горного института</span>. С
                    интересом посещал он рудники и мастерские, сам пытался мастерить разнообразные механизмы. Всю жизнь
                    Попов был благодарен мужу сестры Екатерины <span class="pr-gold-text">В.П. Словцову</span> (1844 –
                    1934), священнику, как и его отец,
                    научившему его столярному, слесарному и токарному делу. Начальное образование Александр получил в
                    <span class="pr-gold-text">Далматовском</span> (1869−1871) и <span
                        class="pr-gold-text">Екатеринбургском</span> (1871−1873) духовных училищах. В 1873 году Попов
                    поступил в Пермскую духовную семинарию. В этих учебных заведениях обучение для детей духовного
                    сословия было бесплатным, что для большой семьи Поповых имело существенное значение. Религиозное
                    воспитание привило Александру Попову <span class="pr-gold-text">высокие моральные качества</span>,
                    неоднократно отмеченные знавшими
                    его людьми.
                </p>
            </div>
            <p class="text">Общеобразовательные классы семинарии, дававшие знания в объеме классической гимназии с
                правом поступления в университет, Попов <span class="pr-gold-text">окончил с отличием</span> в 1877
                году.</p>
            <p class="text">В сентябре 1877 года Александр Попов поступил на <span class="pr-gold-text">
                    физико-математический факультет
                    Петербургского университета
                </span>. В Петербург, где в это время жил Рафаил, закончивший
                историко-филологический факультет Петербургского университета, он приехал с сестрами Анной и Августой.
                (Анна получила среднее медицинское образование, а Августа окончила <span class="pr-gold-text">Академию
                    художеств</span>.) Стипендию
                Александр Попов получал только на первом и третьем курсах и свои <span class="pr-gold-text">финансовые
                    проблемы</span> решал
                репетиторством.</p>
        </div>
    </div>

</section>


{% endblock %}