{% extends "base-templates/museum_base.html" %}


{% block title %}Лаборатория в ЛЭТИ{% endblock title %}

{% block museum_title %}
    Лаборатория <span class="pr">А.&nbsp;С.&nbsp;Попова</span> в ЛЭТИ
{% endblock %}

{% block museum_image %}
    <img src="{{url_for('index')}}static/img/lab.jpg" alt="" class="museum__img">
{% endblock %}

{% block museum_info %}
    <p class="text container">
        Музей внесен в число уникальных объектов высших учебных заведений России. Основной фонд Мемориального музея А.С. Попова, частью которого является музей-лаборатория, составляет более 15000 единиц хранения.
    </p>

    <p class="text">
        В музее-лаборатории посетители могут проследить <span class="pr-dark">жизненный путь А.С. Попова (1859-1906)</span>, основные события в развитии электро- и радиотехники в России и в мире в конце XIX - начале ХХ вв. В экспозиции демонстрируется <span class="pr-dark">более 30 уникальных экспонатов:</span> измерительные приборы, лабораторное оборудование, образцы серийной аппаратуры беспроволочного телеграфирования.
    </p>

    <p class="text">
        Кроме тематических, посвященных А.С. Попову и <span class="pr-dark">истории радиотехники,</span> некоторые экспонируемые музейные предметы (амперметры, вольтов столб, магазины сопротивлений, спирали Рисса и другие) позволяют проводить экскурсии для школьников по таким разделам физики, как электростатика и электродинамика. 12 образцов аппаратуры, демонстрируемых в экспозиции, сертифицированы как памятники науки и техники 1-й категории. <span class="pr-dark">Сертификаты выданы экспертным советом при Государственном Политехническом музее.</span>
    </p>

    <p class="text">
        Первый приемник А.С. Попова и его грозоотметчик представлены прекрасными копиями (подлинники - в ЦМС им. А.С. Попова). На стендах выставлены документы, подтверждающие <span class="pr-dark">приоритет А. С. Попова в изобретении радио.</span> Отдельный стенд посвящен 22 лауреатам<span class="pr-dark"> Золотой медали им. А.С. Попова</span> – выдающимся отечественным и зарубежным ученым в области радиотехники и электроники.
    </p>
{% endblock %}


{% block geo_info %}
    <p class="text">
        Музей-лаборатория А.С. Попова находится в жилом доме Электротехнического института, построенном одновременно с учебным корпусом. В этом доме жили многие крупные ученые-профессора ЭТИ.
    </p>

    <p class="text">
        Адрес: <span class="pr-dark">ул. Профессора Попова, дом 5, корп. Д, 3-й этаж, кв. 33 (вход со стороны памятника А.С. Попову).</span>
    </p>       
{% endblock %}
        
{% block map %}
    <iframe class="museum__map" src="https://yandex.ru/map-widget/v1/?um=constructor%3A2f2cc6c31454fba49c5a035d7e82c247c7ebff19d6ebfaaec0aaba087c91f870&amp;source=constructor" width="100%" height="720" frameborder="0"></iframe>
{% endblock %}