{% extends "base-templates/museum_base.html" %}



{% block title %}Квартира в ЛЭТИ{% endblock title %}



{% block museum_title %}
    Название музея без тега h1
{% endblock %}



{% block museum_image %}
    
{% endblock %}



{% block museum_info %}
    <p class="text">Текст-описание музея. Каждый абзац в своем теге p.</p>
{% endblock %}



{% block geo_info %}
    <p class="text">Текст-описание расположения. Каждый абзац в своем теге p.</p>
{% endblock %}
       
        
        
{% block map %}
    
{% endblock %}